.site-layout-content {
  min-height: calc(100vh - 172px);
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);

  /* ------ my code */
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1.3px;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

header{
  background: #fff !important;
}

.mb-20{
  margin-bottom: 20px;
}

.mr-5{
  margin-right: 5px;
}